- var source_base = !CI?"atm://open?url=file://"+PWD:site.code.base+(subrepo?subrepo:site.code.repo)
- var source_path = !CI?(site.baseurl+source):site.code.current_branch+'/content/'+(subrepo?source.replace("/"+subrepo,""):site.code.package?site.code.package+source:source)
.utilities.u-pull-right
    a(href=!CI?source_base+source_path:origin?origin+"/edit/"+origin_path:source_base+"/edit/"+source_path) Edit
    |  - 
    a(href=!CI?source_base+source_path:origin?origin+"/commits/"+origin_path:source_base+"/commits/"+source_path) Changes
    |  - 
    a(href=!CI?source_base+source_path:origin?origin+"/blob/"+origin_path:source_base+"/blob/"+source_path) Source
